# Ignore Python cache
__pycache__/
*.pyc

# Ignore environment variables
.env
.env.example
.env*
**/.env
**/.env.example
**/*.env

# Ignore Docker
backend/__pycache__/
backend/__pycache__/
backend/__pycache__/
backend/__pycache__/

*.csv
**/*.csv

.DS_Store